:root {
  --background: #000000;
  --background-semitransparent: #000000aa;
  --background-transparent75: #000000cf;
  --text-color: #ffffff;
}

[data-theme="light"] {
  --background: #ffffff;
  --background-semitransparent: #ffffff33;
  --background-transparent75: #ffffffcf;
  --text-color: #000000;
}

body {
  background: var(--background);
  color: var(--text-color);

  margin: 0;

  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  transition:
    background 0.3s,
    color 1s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
