.layoutRoot {
  display: grid;
  grid-template-columns: var(--navWidthFromEdge) 1fr 1200px 1fr var(
      --navEdgePadding
    );
  grid-template-rows: 1fr;
  grid-template-areas: ". . content .";

  padding-top: calc(var(--navEdgePadding) + var(--navWidthFromEdge));

  pointer-events: none;
}

.main {
  background: #440000;
  grid-area: content;
}
