.containerParent {
  display: grid;
  grid-template-columns: var(--navWidthFromEdge) 1fr 1200px 1fr var(
      --navEdgePadding
    );
  grid-template-rows: 1fr;
  grid-template-areas: ". . content . .";
}

@media screen and (max-width: 1400px) {
  .containerParent {
    grid-template-columns: var(--navEdgePadding) 1fr var(--navEdgePadding);
    grid-template-areas: ". content .";
  }
}

.container {
  grid-area: content;
}

.topMargin {
  padding-top: calc(var(--navEdgePadding) + var(--navWidthFromEdge));
  box-sizing: border-box;
}
