.borderBox {
  border: var(--navBorderThickness) solid var(--navBorderColour);
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  pointer-events: all;
}

.noBorder-top {
  border-top: none !important;
}
.noBorder-right {
  border-right: none !important;
}
.noBorder-bottom {
  border-bottom: none !important;
}
.noBorder-left {
  border-left: none !important;
}
