.mainNav {
  position: fixed;

  top: var(--navEdgePadding);
  right: var(--navEdgePadding);
  bottom: var(--navEdgePadding);
  left: var(--navEdgePadding);

  z-index: 100;

  display: grid;
  grid-template-columns: var(--navThickness) 1fr 1200px 1fr;
  grid-template-rows: var(--navThickness) 1fr;

  grid-template-areas:
    "logo    navleft navbar  navright"
    "sidebar .       .       .       ";

  pointer-events: none;
}

.navMain {
  grid-area: navbar;
}
.navLogo {
  grid-area: logo;

  .navLogoImg {
    width: calc(var(--navThickness) * 0.7);
    height: calc(var(--navThickness) * 0.7);
  }
}
.navLeft {
  grid-area: navleft;
}
.navRight {
  grid-area: navright;
}
.sidebar {
  grid-area: sidebar;
}

@media screen and (max-width: 1400px) {
  .mainNav {
    grid-template-columns: var(--navThickness) 10px 1fr 10px;
  }

  .sidebar {
    display: none;
  }
}
